@charset "utf-8";
/* CSS Document */
body {
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.home-menu {
  /* margin-top: 80px; */
  background-image: url(../Images/bg201.jpg);
}
.container .first,
.second {
  margin-left: 100px;
}
.new {
  margin-top: 80px;
  background-image: url(../Images/sub.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 0px;
  border-radius: 12px;
  box-shadow: rgb(26, 24, 22);
  transition: 400ms;
}
.search {
  margin-top: 80px;
  background-image: url(../Images/burger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 16px;
  margin-right: 15px;
  border-radius: 12px;
  transition: 400ms;
}
.order {
  background-image: url(../Images/waffele.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 12px;
  transition: 400ms;
}
.food-one {
  background-image: url(../Images/fries.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 38px;
  margin-right: 15px;
  border-radius: 12px;
  transition: 400ms;
}
.food-two {
  background-image: url(../Images/bevarage_.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 38px;
  margin-right: 15px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.second {
  padding-top: 20px;
}
.new:hover {
  transform: scale(1.01);
}
.search:hover {
  transform: scale(1.01);
}
.order:hover {
  transform: scale(1.01);
}
.food-one:hover {
  transform: scale(1.01);
}
.food-two:hover {
  transform: scale(1.01);
}
.new p {
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.966);
  text-transform: uppercase;
  margin-top: 130px;
  letter-spacing: 2px;
}
.search p {
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.966);
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.second p {
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.966);
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.food-one p {
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.966);
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.food-two p {
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.966);
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.first a {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 7px;
  font-style: italic;
  transition: 400ms;
}
.first a:hover {
  text-decoration: none;
  background-color: #2222228a;
  color: white;
}

.second a {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 7px;
  font-style: italic;
  transition: 400ms;
}
.second a:hover {
  text-decoration: none;
  background-color: #2222228a;
  color: white;
}

@media (max-width: 991px) {
  .container .row {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  .search {
    margin-left: 15px;
  }
  .food-one {
    margin-top: 15px;
    margin-left: 15px;
  }
  .food-two {
    margin-top: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 575px) {
  .container .row {
    margin-left: 0px;
    margin-right: 15px;
  }
  .new {
    margin-bottom: 15px;
  }
  .food-one {
    margin-top: 15px;
    margin-left: 15px;
  }
  .food-two {
    margin-top: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .food-one p {
    font-size: 25px;
  }
  .food-two p {
    font-size: 25px;
  }
}
@media (max-width: 720px) {
  .food-one {
    margin-left: 12px;
  }
  .food-one p {
    font-size: 18px;
    margin-left: 0px;
  }
  .food-two {
    margin-left: 12px;
  }
  .food-two p {
    font-size: 18px;
  }
  .order p {
    font-size: 18px;
  }
}

.events {
  background: url(../Images/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #ffb03b;
}

.events .event-item .price {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #ffb03b;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffb03b;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .owl-nav,
.events .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.events .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.events .owl-dot.active {
  background-color: #ffb03b !important;
}

@media (min-width: 992px) {
  .events .testimonial-item p {
    width: 80%;
  }
}
#footer {
  background: #212529;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h1 {
  font-family: 'Limelight', cursive;
  font-size: 2rem;
  color: #ffb03b;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer h1 span {
  color: #fff;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
  color: #8c9299;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2d3238;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffb03b;
}

#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .copyright span {
  font-weight: 600;
}

#footer .credits {
  font-size: 13px;
}
